<% title "Questions" %>
<div class='top-function-menu'>
  <%= link_to "發問", new_question_path %>
</div>

<table id='questionlist'>
  <tr>
    <th>標題</th>
    <th>內容</th>
  </tr>
  <% for question in @questions %>
    <tr>
      <td class='question_title'>
        <%= link_to h(question.title), question %>
      </td>
      <td>
        <%= truncate_u(Sanitize.clean(question.content), 32) %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @questions %>
