<div id='profile_show_side'>
  <h3><%= t'user.relate'%></h3>
  <ul>
    <% profiles.each do |p| %>
      <li class='anchor'>
      <%= link_to truncate_u(p.user.showname), user_home_path(p.user.username)%>
      <%= truncate_u(Sanitize.clean(p.intro || ''), 20)%>
      </li>
    <% end %>
  </ul>
</div>
