<div id='profile_show_side'>
  <h3><%= t'user.relate'%></h3>
  <ul>
    <% profiles.each do |p| %>
      <% if p%>
        <li class='anchor'>
        <%= link_to_user_home(p.user) %>
        <%= truncate_u(Sanitize.clean(p.intro || ''), 20) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
