log/*.log
log/
config/development.sphinx.conf
config/production.sphinx.conf
db/sphinx/
tmp/**/*
.DS_Store
public/cache/**/*
public/cache/
public/action_cache/*/*
doc/api
doc/app
config/database.yml
db/*.sqlite3
**/tags
db/schema.rb
public/dispatch.rb
public/h.rb
tags
*.swp
rerun.txt
