<% title "Comments" %>

<p>
  <strong>Text:</strong>
  <%=h @comments.text %>
</p>

<p>
  <%= link_to "Edit", edit_comments_path(@comments) %> |
  <%= link_to "Destroy", @comments, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", comments_path %>
</p>
