/* body */
body {
/*  font-family: 'Droid Serif', arial, serif; */
}

#flash_notice {
  font-size: 11px;
  background-color: #CFC;
  border: solid 1px #6C6;
  padding: 5px 8px;
  margin-top: 10px;
}

#flash_error {
  font-size: 11px;
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px 8px;
  margin-top: 10px;
}

#flash_alert {
  font-size: 11px;
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px 8px;
  margin-top: 10px;
}

.space {
  padding: 0px 3px 0px 3px;
}

.clear {
  clear: both;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.grid-top {
  float:left;
  padding-bottom:5px;
  margin-bottom:5px;
  border-bottom: 1px solid #E8E8E8;
}


/* homepage */
#homepage_container {
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:left;
  width:800px;
}

/* header */
#homepage_header {
  height:87px
}

#homepage_logo {
  float:left;
  height:87px;
  margin-left:20px;
  position:relative;
  width:200px;
  font-size:42px;
  color:#003366;
}

#login {
  color:#FFFFFF;
  float:right;
  margin-bottom:0;
  margin-left:0;
  margin-right:15px;
  margin-top:26px;
  position:relative;
  text-align:right;
}
/* header end */

#overview {
  margin-bottom:0;
  margin-top:10px;
  padding-bottom:10px;
  background-color: #fff9aa;
  color: #222;
  text-align:center;
}

#overview h2{
  line-height: 36px;
}
#overview h4{
}

#leftitem {
  margin-top:20px;
  width:355px;
  float:left;
}
#leftitem p{
  line-height: 24px;
}

#rightitem {
  margin-top:20px;
  width:355px;
  float:right;
}

#rightitem p{
  line-height: 24px;
}

#come_in h2{
  text-align: center;
}

#come_in a{
  color: #ff9900;
}

#demo {
  margin-top:70px;
  border-top:5px solid #ddd;
  text-align: center;
}
#demo h2{
  margin-bottom:10px;
}

.demo-item{
  float:left;
  text-align: center;
  padding:10px;
  width: 380px;
}

/* common site */
#container {
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  width:960px !important;
}

#footer {
  height:36px;
  left: 0;
  bottom: 0;
  text-align: center;
  margin-top: 120px;
  width: 100%;
  z-index: 9999;
  border-top: 2px solid #a66;
  line-height: 4em;
  color: #fff;
}

#dashboard {
  margin: 0;
  padding: 0;
  border-bottom: 1px #cccccc solid;
  height: 23px;
  vertical-align: middle;
}
#dashboard ul li {
  float: left;
}

#dashboard ul #dashboard_options {
  float: right;
}

#logo {
  float: left;
  width: 130px;
  height: auto;
  background: none;
}

#header {
  overflow: hidden;
  height: 65px;
}

#menus {
  float: right;
  height: auto;
  background: none;
}

#main_menu li {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  padding: 7px 10px 4px 12px;
  border-bottom: none;
  color: #777;
}

/* user home */
#home_search {
  margin-bottom:0;
  margin-top:10px;
  padding-bottom:10px;
  background-color: #fff9aa;
  color: #222;
  text-align:center;
}

#home_search input {
  font-size: 22px;
}

#home_content {
  width:445px;
  float:left;
}

#home_content a{
  color: #0AA7D6;
  text-decoration: none;
}

#home_sidebar {
  width:445px;
  float:right;
}

#home_content .exp_cell {
  padding:5px 0px 5px 0px;
  margin:5px 0px 5px 0px;
  border-bottom: 1px solid #E8E8E8;
}

#home_sidebar .goal_cell {
  padding:5px 0px 5px 0px;
  margin:5px 0px 5px 0px;
  border-bottom: 1px solid #E8E8E8;
}

#home_sidebar a{
  color: #0AA7D6;
  text-decoration: none;
}

#home_rand_exps {
}

#page_head {
  font-size:23px;
  font-weight:bold;
  line-height:30px;
  padding-bottom:15px;
  padding-top:30px;
}

#home_user_exps {
  border: 1px solid #d7d7d7;
  padding: 10px;
  margin-bottom: 15px;
}

#location {
  height:30px;
  padding:15px;
  float: left;
  width: 130px;
  height: auto;
  background: none;
}


/* User experience index page */
#exp_chart {
  height:250px;
  margin-bottom:50px;
  margin-top:20px;
  border:1px solid #EFEFEF;
}

#goal_list {
  float:left;
  width:230px;
  padding:5px;
}

#goal_list div{
  height:30px;
  width:230px;
  line-height: 20px;
}

#goal_list a{
  text-decoration:none;
  color:#838383;
  font-size: 21px;
}

#goal_list #new_goal{
  text-align:center;
}

#goal_list #new_goal span {
  border: 1px solid #000000;
  padding: 6px 15px 6px 15px;
}

#goal_list #new_goal a{
  color:#000000;
  font-size: 18px;
}

a.goal_here {
  border-bottom-color:#C1C1C1;
  border-bottom-style:solid;
  border-bottom-width:3px;
}

#exp_list {
  float:left;
  width:700px;
  padding:5px;
}

#exp_list td{
  padding:2px;
  height:30px;
  line-height: 20px;
}

.time {
  color: #999999;
}

td.exp_content {
  padding-left:35px;
}

#trigger_follow {
  float:left;
}

#profile_area {
  float:left;
  width: 130px;
  padding:5px;
}

#fans_area {
  float:left;
  width: 230px;
  padding:5px;
}

#fans_area span{
  padding-left:5px;
}

#goal_detail {
  float:left;
  width: 700px;
  padding:5px;
}
/* User experience index page END */

/* User experience show page */
#exp_show_main {
  float:right;
  width:700px;
  padding:5px;
}

#exp_show_side {
  float:left;
  width:200px;
  padding:5px;
}

#exp_show_time {
  margin-right:10px;
}

#exp_show_content {
  margin-bottom:40px;
}
/* User experience show page END */
