/* body */
body {
/*  font-family: 'Droid Serif', arial, serif; */
}

label {
  font-weight:bold;
}
#flash_notice {
  font-size: 11px;
  background-color: #CFC;
  border: solid 1px #6C6;
  padding: 5px 8px;
  margin-top: 10px;
}

#flash_error {
  font-size: 11px;
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px 8px;
  margin-top: 10px;
}

#flash_alert {
  font-size: 11px;
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px 8px;
  margin-top: 10px;
}

.space {
  padding: 0px 3px 0px 3px;
}

.clear {
  clear: both;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.grid-top {
  float:left;
  padding-bottom:5px;
  margin-bottom:5px;
  border-bottom: 1px solid #E8E8E8;
}


/* homepage */
#homepage_container {
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:left;
  width:800px;
}

/* header */
#homepage_header {
  height:87px
}

#homepage_logo {
  float:left;
  height:87px;
  margin-left:20px;
  position:relative;
  width:200px;
  font-size:42px;
  color:#003366;
}

#login {
  color:#FFFFFF;
  float:right;
  margin-bottom:0;
  margin-left:0;
  margin-right:15px;
  margin-top:26px;
  position:relative;
  text-align:right;
}
/* header end */

#overview {
  margin-bottom:0;
  margin-top:10px;
  padding-bottom:10px;
  background-color: #fff9aa;
  color: #222;
  text-align:center;
}

#overview h2{
  line-height: 36px;
}
#overview h4{
}

#leftitem {
  margin-top:20px;
  width:355px;
  float:left;
}
#leftitem p{
  line-height: 24px;
}

#rightitem {
  margin-top:20px;
  width:355px;
  float:right;
}

#rightitem p{
  line-height: 24px;
}

#come_in h2{
  text-align: center;
}

#come_in a{
  color: #ff9900;
}

#demo {
  margin-top:70px;
  border-top:5px solid #ddd;
  text-align: center;
}
#demo h2{
  margin-bottom:10px;
}

.demo-item{
  float:left;
  text-align: center;
  padding:10px;
  width: 380px;
}

/* common site */
#container {
  height: auto !important;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  width:960px !important;
  min-height:100%;
}

#footer {
  height:36px;
  left: 0;
  bottom: 0;
  text-align: center;
  margin-top: 120px;
  width: 100%;
  z-index: 9999;
  border-top: 1px solid #a66;
  line-height: 4em;
  color: #fff;
}

#dashboard {
  margin: 0;
  padding: 0;
  border-bottom: 1px #cccccc solid;
  height: 23px;
  vertical-align: middle;
}
#dashboard ul li {
  float: left;
}

#dashboard ul #dashboard_options {
  float: right;
}

#logo a{
  float: left;
  width: 130px;
  height: auto;
  background: none;
  font-weight:bold;
  color:#003366;
  text-decoration: none;
}

#header {
  overflow: hidden;
  height: 65px;
}

#menus {
  float: right;
  height: auto;
  background: none;
}

#main_menu li {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  padding: 7px 10px 4px 12px;
  border-bottom: none;
  color: #777;
}

/* user home */
#home_search {
  margin-bottom:0;
  margin-top:10px;
  padding-bottom:10px;
  background-color: #fff9aa;
  color: #222;
  text-align:center;
}

#home_search input {
  font-size: 22px;
}

#home_content {
  width:445px;
  float:left;
}

#home_sidebar {
  width:445px;
  float:right;
}

#home_content .exp_cell {
  padding:5px 0px 5px 0px;
  margin:5px 0px 5px 0px;
  border-bottom: 1px solid #E8E8E8;
}

#home_sidebar .goal_cell {
  padding:5px 0px 5px 0px;
  margin:5px 0px 5px 0px;
  border-bottom: 1px solid #E8E8E8;
}

.goal_cell a{
  color: #0AA7D6;
  text-decoration: none;
}

#home_rand_exps {
}

#page_head {
  font-size:23px;
  font-weight:bold;
  line-height:30px;
  padding-bottom:15px;
  padding-top:30px;
}

#home_user_exps {
  border: 1px solid #d7d7d7;
  padding: 10px;
  margin-bottom: 15px;
}

#location {
  height:30px;
  padding:15px;
  float: left;
  width: 130px;
  height: auto;
  background: none;
}


/* User experience index page */
#exp_chart {
  height:250px;
  margin-bottom:50px;
  margin-top:20px;
  border:1px solid #EFEFEF;
}

#exp_list {
  margin-left:150px;
  float:left;
  width:700px;
  padding:5px;
}

#exp_list td{
  padding:2px;
  height:40px;
  line-height: 20px;
}

.time {
  color: #666666;
}

#exp_list td.exp_content {
  padding-left:25px;
}

#trigger_follow {
  float:left;
}

#fans_area {
  float:left;
  width: 230px;
  padding:5px;
}

#fans_area span{
  padding-left:5px;
}

#goal_detail {
  float:left;
  width: 570px;
  padding:5px;
}


/* User experience index page END */

/* User experience show page */
#exp_show_main, #goal_show_main {
  float:right;
  width:700px;
  padding:5px;
}

#exp_show_side, #goal_show_side {
  float:left;
  width:200px;
  padding:5px;
}

#exp_show_time, #goal_show_time {
  margin-right:10px;
  font-weight: bolder;
  font-size:20px;
}

#exp_show_content, #goal_show_content {
  margin-bottom:40px;
}

/* User experience show page END */

/* comments */
.commentlist .comment h3 {
  background: #efe;
  padding: 0.2em 0.5em;
  border: 1px solid #afa;
  font-size: 1em;
  margin: 0.5em 0;
  color: #555;
}

/* chats */
.chat {
  margin-bottom:30px;
}

.chatlist .chat h3 {
  background: #efe;
  padding: 0.2em 0.5em;
  border: 1px solid #afa;
  font-size: 1em;
  margin: 0.5em 0;
  color: #555;
}

.chatlist .chat_reply h3 {
  background: #ff9;
  padding: 0.2em 0.5em;
  border: 1px solid #afa;
  font-size: 1em;
  color: #555;
}

.chat_reply {
  margin-left:30px;
}
/* anchor */
#exp_list a{
  color: #333333;
  text-decoration: none;
}

.exp_cell a, #new_exp a, .exp_author a, .goal_author a, .question_title a, .top-function-menu a, .exp_anchor a, .goal_anchor a, .question_anchor a, .anchor a{
  color: #0AA7F8;
  text-decoration: none;
}

.new_obj_area {
  border: 1px solid #A0A0A0;
  padding: 10px;
}

.exp_author a{
  padding: 0px 3px 0px 3px;
  font-weight:bold;
}

.exp_function a, .question_function a, .function a, .goal_function a{
  color: #990000;
  text-decoration: none;
  padding: 0px 3px 0px 3px;
}

.exp_tags a, .goal_tags a, .exp_category a, .tags_func a, .goal_desc a{
  color: #FFCC00;
}

.share_function a{
  color: #F06;
  font-weight:bold;
  font-size: 18px;
}


#exp_list a:hover {
  text-decoration: underline;
}


/* Question */
#questionlist {
  border-collapse:collapse;
  color:#000000;
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size:100%;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  text-align:left;
}
td.question_title{ width: 400px}

#questionlist tr, th, td{
  padding:10px;
}
.top-function-menu {
  background-color:#E1ECFE;
  font-weight:bold;
  margin-bottom:10px;
  margin-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
}

.search_item_list {
  width:680px;
}

.search_item_list h3 {
  background: #3274D0;
  padding: 0.2em 0.5em;
  font-size: 1em;
  margin: 0.5em 0;
  color: #fff;
}


.search_item_list h3 a{
  color: #fff;
  float:right;
  text-decoration: none;
}

/* cheer */
.cheer_function form {
  padding-right:10px;
  float:left;
}
.cheer_function strong{
  float:left;
}

.desc {
  color:#33CC66;
}

.share_this_exp {
  float:left;
  width:100px;
}

.select_exp_entry {
  padding: 10px;
}

/* Menu style */
#centeredmenu {
   float:left;
   width:100%;
   background:#fff;
   border-bottom:4px solid #3274D0;
   overflow:hidden;
   position:relative;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}
#centeredmenu ul li a:hover {
   background:#EFEFEF;
   color:#7B7B7B;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
   color:#fff;
   background:#3274D0;
   font-weight:bold;
}
#centeredmenu ul li.new_goal a{
  color:#F00;
  background:#FFF;
  font-weight:bold;
}
