/* body */
body {
/*  font-family: 'Droid Serif', arial, serif; */
}

label {
  font-weight:bold;
}
#flash_notice {
  font-size: 13px;
  background-color: #CFC;
  border: solid 1px #6C6;
  padding: 5px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:bold;
}

#flash_error, #flash_failure {
  font-size: 13px;
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:bold;
}

#flash_alert {
  font-size: 13px;
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.space {
  padding: 0px 3px 0px 3px;
}

.clear {
  clear: both;
}

.complete {
  color: #64E827;
}

.loading, .fail {
  color: #FF0000;
}

.hide {
  display: none;
}

.fl-r{
  float:right;
}

.form-input{
  background-color:#F0F0F0;
  border:1px solid #AAAAAA;
  padding:8px 0 8px 8px;
}
.form-input input:focus, input.text-input:focus, input.text-input {
  background-color:#FFFFFF;
  border:1px solid #FF9445;
  padding:8px 0 8px 8px;
}
div.form-input{
  margin:10px 0px 10px 0px;
}

.btn {
  background:none repeat scroll 0 0 #EAEEF1;
  border:1px solid #D0D8DF;
  cursor:pointer;
  font:bold 15px/18px arial,helvetica,sans-serif !important;
  margin: 14px;
  padding:2px 7px 2px 7px;
  overflow:hidden;
}
.btn-active {
  background:none repeat scroll 0 0 #FAD78A;
  border-color:#E8AC47;
  cursor:pointer;
  margin-left:0;
}
.btn-expression{
  background:none repeat scroll 0 0 #FAD78A;
  border-color:#E8AC47;
  cursor:pointer;
  margin-left:0;
}

input.btn, .btn a, .btn-active button, .btn-active input, .btn-active a {
  color:#444444;
  text-decoration: none;
}
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.grid-top {
  float:left;
  padding-bottom:5px;
  margin-bottom:5px;
  border-bottom: 1px solid #E8E8E8;
}
.even {
    background-color :#D1E1FA;
} 

/* homepage */
#homepage_container {
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:left;
  width:800px;
}

/* header */
#homepage_header {
  height:87px
}

#homepage_logo {
  float:left;
  height:87px;
  margin-left:20px;
  position:relative;
  width:200px;
  font-size:42px;
  color:#003366;
}

#login {
  float:right;
  margin-bottom:0;
  margin-left:0;
  margin-right:15px;
  margin-top:26px;
  position:relative;
  text-align:right;
}
/* header end */

#overview {
  margin-bottom:0;
  margin-top:10px;
  padding-bottom:10px;
  background-color: #fff9aa;
  color: #222;
  text-align:center;
}

#overview h2{
  line-height: 36px;
}

#come_in h1{
  text-align: center;
}

#come_in a{
  color: #ff9900;
}

#demo {
  margin-top:70px;
  margin-bottom:300px;
  text-align: center;
}
#demo h2{
  margin-bottom:10px;
}

.demo-item{
  float:left;
  text-align: center;
  padding:10px;
  width: 380px;
}

/* common site */
#container {
  height: auto !important;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  width:960px !important;
  min-height:100%;
}

#footer {
  height:36px;
  left: 0;
  bottom: 0;
  text-align: center;
  margin-top: 120px;
  width: 100%;
  z-index: 9999;
  border-top: 1px solid #a66;
  line-height: 4em;
}

#dashboard {
  margin: 0;
  padding: 0;
  border-bottom: 1px #cccccc solid;
  height: 23px;
  vertical-align: middle;
}
#dashboard ul li {
  float: left;
}

#dashboard ul #dashboard_options {
  float: right;
}

#logo a{
  float: left;
  width: 130px;
  height: auto;
  background: none;
  font-weight:bold;
  color:#003366;
  text-decoration: none;
}

#header {
  overflow: hidden;
  height: 65px;
  margin-bottom:10px;
  background-color:#EFEFEF;
  padding: 6px 0px 6px 6px;
}

#menus {
  float: right;
  height: auto;
  background: none;
}

#menus a{
  color:#4183C4;
  text-decoration:none;
}

#main_menu li {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  padding: 7px 10px 4px 12px;
  border-bottom: none;
  color: #777;
}

/* user home */
#home_search {
  margin-bottom:10px;
  margin-top:10px;
  padding-bottom:10px;
  background-color: #fff9aa;
  color: #222;
  text-align:center;
}

#home_search input {
  font-size: 22px;
}

#home_content {
  width:445px;
  float:left;
}

#home_sidebar {
  width:445px;
  float:right;
}

#home_content .exp_cell {
  padding:5px 0px 5px 0px;
  margin:5px 0px 5px 0px;
  border-bottom: 1px solid #E8E8E8;
}

.menu_content .goal_cell {
  padding:5px 0px 5px 0px;
  margin:5px 0px 5px 0px;
  border-bottom: 1px solid #E8E8E8;
}

.goal_cell a{
  color: #0AA7D6;
  text-decoration: none;
}

#home_rand_exps {
}

#page_head {
  font-size:23px;
  font-weight:bold;
  line-height:30px;
  padding-bottom:15px;
  padding-top:30px;
}

#home_user_exps {
  border: 1px solid #d7d7d7;
  padding: 10px;
  margin-bottom: 15px;
}

#location {
  height:30px;
  padding: 0px 15px;
  float: left;
  width: 250px;
  height: auto;
  background: none;
}


/* User experience index page */
#user_exp_profile {
  overflow-x: hidden;
  margin: 3px 0px 10px 0px;
  padding:6px 3px 3px 3px;
}

.avatared {
  font-weight:bold;
  height:54px;
  margin-bottom:0;
  color:#495961;
  float:left;
  width:820px;
}

#fans_area {
  height:54px;
  line-height:54px;
  padding:5px;
  float:right;
}

#fans_area span{
  padding-left:5px;
}

#profile_hide_show {
  width: 32px;
  height: 32px;
  cursor:pointer;
}

.profile_hide{
  background: transparent url(http://png-4.findicons.com/files/icons/2226/matte_basic/32/add.png) 0 0 no-repeat scroll;
  width: 32px;
  height: 32px;
}

.profile_show{
  background: transparent url(http://png-5.findicons.com/files/icons/1577/danish_royalty_free/32/minus_white.png) 0 0 no-repeat scroll;
  width: 32px;
  height: 32px;
  line-height:32px;
}


.exp_profile_cell {
  margin:6px 0px 6px 0px;
}

.exp_profile_content {
  width: 300px;
  float:left;
}

.exp_goal_content {
  width: 300px;
  float:left;
}

.exp-info {
  display:none;
  color:#000000;
} 

#record-label{
  float:left;
}

#exp-show-style {
  float:left;
  padding:18px;
}

.user_header {
  padding-bottom:3px;
  border-bottom: 1px solid #DDDDDD;
  height: 54px;
}

#user_content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 202px;
}

#exp_chart {
  height:250px;
  width:960px;
  float:left;
  border:3px solid #DDDDDD;
}

#goal_desc_area {
  float:left;
  width: 280px;
  padding:5px 15px 5px 10px;
  background-color: #EFEFEF;
}

#goal_detail {
  margin-top:10px;
  float:left;
}

#trigger_follow {
  float:left;
}

#exp_number {
  float:right;
}

#exp_list {
  float:right;
  width:720px;
  padding:5px;
}

.js_time, .js_year, .js_month, .js_day {
  display:none;
}

#exp_list li{
  list-style:none;
  border-bottom: 1px solid #E9E9E9;
}

.exp_list_cell, .exp_show_cell{
  padding:15px;
  margin-left:40px;
}

.time {
  color: #666666;
  margin-right:20px;
}

/* User experience index page END */

/* User experience show page */
#exp_show_main, #goal_show_main, #profile_show_main {
  float:right;
  width:700px;
  padding:5px;
}

#exp_show_side, #goal_show_side, #profile_show_side {
  float:left;
  width:200px;
  padding:5px;
  border-right: 1px solid #DDDDDD;
}

#exp_show_time, #goal_show_time {
  margin-right:10px;
  font-weight: bolder;
  font-size:16px;
}

#exp_show_content, #goal_show_content {
  margin-bottom:40px;
}

.exp-content, .goal-content, .question-content {
  padding:15px;
  margin:15px;
}

/* User experience show page END */

/* comments */
.commentlist .comment h3 {
  background: #efe;
  padding: 0.2em 0.5em;
  border: 1px solid #afa;
  font-size: 1em;
  margin: 0.5em 0;
  color: #555;
}

/* chats */
.chat {
  margin-bottom:30px;
}

.chatlist .chat h3 {
  background: #efe;
  padding: 0.2em 0.5em;
  border: 1px solid #afa;
  font-size: 1em;
  margin: 0.5em 0;
  color: #555;
}

.chatlist .chat_reply h3 {
  background: #ff9;
  padding: 0.2em 0.5em;
  border: 1px solid #afa;
  font-size: 1em;
  color: #555;
}

.chat_reply {
  margin-left:30px;
}
/* anchor */
#exp_list a{
  color: #1259C7;
  text-decoration:underline;
}

.exp_cell a, #new_exp a, .exp_author a, .goal_author a, .question_title a,  .exp_anchor a, .goal_anchor a, .question_anchor a, .anchor a{
  color: #0AA7F8;
  text-decoration: none;
}

#exp_list a:hover, .exp_cell a:hover, #new_exp a:hover, .exp_author a:hover, .goal_author a:hover, .question_title a:hover, .top-function-menu a:hover, .exp_anchor a:hover, .goal_anchor a:hover, .question_anchor a:hover, .anchor a:hover
{
  text-decoration: underline;
}

.top-function-menu a{
  color: #0033CC;
}

.fans_anchor a{
  color: #0AA7F8;
  font-weight:bold;
}

.new_obj_area {
  border: 1px solid #A0A0A0;
  padding: 10px;
}

.exp_author a{
  padding: 0px 3px 0px 3px;
  font-weight:bold;
}

.exp_function a, .question_function a, .function a, .goal_function a{
  color: #990000;
  text-decoration: none;
  padding: 0px 3px 0px 3px;
}

.exp_tags a, .goal_tags a, .exp_category a, .tags_func a, .goal_desc a{
  color: #FFCC00;
}

.share_function a{
  color: #F06;
  font-weight:bold;
  font-size: 18px;
}


/* Question */
#questionlist {
  border-collapse:collapse;
  color:#000000;
  font-size:100%;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  text-align:left;
}
td.question_title{ width: 400px}

#questionlist tr, th, td{
  padding:10px;
}
.top-function-menu {
  background-color:#E1ECFE;
  font-weight:bold;
  margin-bottom:10px;
  margin-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
}

#search_label {
  color:#073E6F;
  font-weight:bold;
}

.search_item_list {
  width:680px;
}

.search_item_list h3 {
  background: #3274D0;
  padding: 0.2em 0.5em;
  font-size: 1em;
  margin: 0.5em 0;
  color: #fff;
}


.search_item_list h3 a{
  color: #fff;
  float:right;
}

/* cheer */
.cheer_function form {
  padding-right:10px;
  float:left;
}
.cheer_function strong{
  float:left;
}

.cheer {
  color: #FFCC00;
  font-weight: bold;
}

#vote_submit{
  font-size:18px;
}
.desc {
  color:#33CC66;
}

.share_this_exp {
  float:left;
  width:100px;
}

.select_exp_entry {
  padding: 10px;
}

/* Menu style */
#centeredmenu {
   float:left;
   width:100%;
   background:#fff;
   border-bottom:4px solid #3274D0;
   overflow:hidden;
   position:relative;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}

#centeredmenu ul li a.goal_tab {
   background:#FFFF00;
}

#centeredmenu ul li a.profile, #centeredmenu ul li a.profile:hover {
   background:#FFFFFF;
   color: #1259C7;
}


#centeredmenu ul li a:hover {
   background:#EFEFEF;
   color:#7B7B7B;
}

#centeredmenu ul li a.goal_tab:hover {
   background:#FFFF99;
   color:#7B7B7B;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
   color:#fff;
   background:#3274D0;
   font-weight:bold;
}
#centeredmenu ul li.new_goal a{
  color:#F00;
  background:#FFF;
  font-weight:bold;
}

/* user_location */

/* facebook */
.sign_out {
  display: inline;
}

#facebook_like {
  height:20px;
}
/* facebook end */


.exp_position, #last_position, #current_position {
  display:none;
}

.position_action {
  color: #E8AC47;
  cursor:pointer;
  font-weight:bold;
}

.mustbe {
  color: #990000;
  font-weight:bold;
}

#exp-show-style a{
  text-decoration: none;
  color:#CCC;
}

pre {
  font-size : 15px;
  line-height: 2;
  font-family: Helvetica,Arial,"LiHei Pro","新細明體",sans-serif;
  color:#222222;
  margin:1em 0;
  font-weight:normal;
}
