<p>
  have new comment <%= ApplicationController.helpers.truncate_u(Sanitize.clean(@comment.comment), 20) %>
</p>

<p>
  <%= link_to 'you could see it here', "http://#{ActionMailer::Base.default_url_options[:host]}#{url_for(@comment.commentable)}" %>
</p>
