<p>
  Your follow have new experience <%= ApplicationController.helpers.truncate_u(Sanitize.clean(@experience.content), 50) %>
</p>

<p>
<a href='<%= @host %><%= @url %>'>you could see it here</a>
</p>
