<% title "Edit Question Experience Relation" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @question_experience_relation %> |
  <%= link_to "View All", question_experience_relations_path %>
</p>
