<div id='home_content'>
  <h4>最新經驗</h4>
  <div id='home_latest_exps'>
    <ul>
      <% @latest_experiences.each do |experience| %>
        <li>
          <%= link_to experience.user.username, user_experiences_path(experience.user) %>
          <%= link_to truncate_u(Sanitize.clean(experience.content), 40), experience %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div id='home_sidebar'>
  <h4>類似經驗</h4>
  <div id='home_latest_exps'>
    <ul>
      <% @near_experience.try(:find_related_tags).try(:each) do |experience| %>
        <li> <%= link_to truncate_u(Sanitize.clean(experience.content), 40), experience %></li>
      <% end %>
    </ul>
  </div>
</div>
