<% title "New Chat" %>

<%= render :partial => 'form' %>

<p>
<% if @user %>
<%= link_to t("message.back"), user_chats_path(@user) %>
<% else %>
<%= link_to t("message.back"), chats_path %>
<% end %>
</p>
