<h2><%= t'user.fans' %></h2>
<ul>
  <% @users.each do |u| %>
    <li class='exp_author'>
      <%= link_to "#{u.nickname}",  user_home_path(u.username) %>
      <%= truncate_u(Sanitize.clean(u.profile.intro), 30) %>
    </li>
<% end %>
</ul>
