<div id='exp_show_side'>
  <h3>類似經驗</h3>
  <ul>
    <% experience.find_related_tags.each do |e| %>
      <li><%= link_to truncate_u(Sanitize.clean(e.content), 40), e%></li>
    <% end %>
  </ul>
</div>
