<h2>編輯</h2>

<% form_for(@experience) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', @experience %> |
<%= link_to 'Back', user_home_path(current_user.username) %>
