<% form_for([current_user, @experience]) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<p class='function'>
  <%= link_to t('action.cancel'), user_home_path(current_user.username) %>
</p>
