<%if I18n.locale == 'tw' %>
<pre>
記得
小時候拿起筆認真的寫「我的志願」，有想當總統還是想當王永慶，但就是一個不停在稿紙打轉的志願
隨著時光輪轉
在生日時總不忘吹蠟燭前要先許三個願望，第一個願望通常是「我還要三個願望」，接著就是豪氣萬丈的開始許，但也就是許
生日過後，願望總是像被吹熄的蠟燭般，直到隔年點蠟燭才又經然想起，我去年許的願呢？
每年的跨年到元旦
總不忘要許新年新希望，但像煙花一樣，美麗慛燦但不久待～
這些如此多的感動，用心許下的目標或願望
似乎少了些分享與紀錄或是被達成的期待
是不是一生中給自己一個機會去實踐目標或願望
當紀錄下為目標做了些什麼並努力達成
好像為目標裝了翅膀
眼看目標逐漸被實現，成為最燦爛的一顆星
這顆星這個目標
不僅照亮自己的人生旅途
也引導許多迷途的人
以真為開始
善為歷程
美為目標
生命將是美得循環～
</pre>
<pre>
我們希望可以每個人都可以找到自己的方向

透過目標的設定 一步步的努力 去檢視自己及建立自信

更進一步, 我們希望這些留下的記錄, 

可以給後輩想要朝同一方向努力的人 做參考,

讓我們幫助你, 也讓你努力的過程帶動更多人的熱情與勇氣。
    <span class='anchor'>
      <%= mail_to "iosel.service@gmail.com", t("site.contact_us") %>
    </span>
</pre>
<% elsif I18n.locale == 'cn'%>
<pre>
我们希望可以每个人都可以找到自己的方向

透过目标的设定一步步的努力去检视自己及建立自信

更进一步, 我们希望这些留下的记录,

可以给后辈想要朝同一方向努力的人做参考,

让我们帮助你, 也让你努力的过程带动更多人的热情与勇气。
    <span class='anchor'>
      <%= mail_to "iosel.service@gmail.com", t("site.contact_us") %>
    </span>
</pre>
<% else%>
 <pre>
We hope everyone could find the meaning of their life

Set your goal, strive step by step, review yourself and make confidence

And we also hope these records could help the other guys who have same dream, same goal

Let us help you, and let your process make people passion and courage
    <span class='anchor'>
      <%= mail_to "iosel.service@gmail.com", t("site.contact_us") %>
    </span>
</pre>
<% end %>
