<div id='goal_show_side'>
  <h3><%= t'goal.relate'%></h3>
  <ul>
    <% goals.each do |g| %>
      <% if g %>
        <li><%= link_to truncate_u(g.title), g %></li>
      <% end %>
    <% end %>
  </ul>
</div>
