<h3>有關 <%= params[:id] %></h3>

<table>
  <% @taggable_objs.each do |obj| %>
    <tr>
      <td class='exp_cell'><%= link_to truncate_u(Sanitize.clean(obj.content), 35), obj%></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @taggable_objs %>
