<% content_for :meta_tag do%>
  <%= Handcache.get_and_set("#{params.values.sort.to_s}", :expires_in => 60) do
    title params[:id]
    description "#{truncate_u(Sanitize.clean(@taggable_objs.first.try(:content) || ""), 100)}" 
    keywords params[:id]
    display_meta_tags :site => '傳承' 
  end %>  
<% end %>
<h3>有關 <%= params[:id] %></h3>

<table>
  <% @taggable_objs.each do |obj| %>
    <tr>
      <td class='exp_cell'><%= link_to truncate_u(Sanitize.clean(obj.try(:content) || ""), 35), obj%></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @taggable_objs if @taggable_objs.respond_to?(:total_pages)%>
